.Nav {
  height: 90vh;
  /* width: 99vw; */
}
.navbar {
  margin: 0px;
  background-color: rgb(43, 183, 193);
}
.navbar-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.navbar-image {
  width: 60px;
  height: 60px;
}
.nav-profile {
  border: 1px solid black;
  border-radius: 90px;
}
.sidenav-header {
  padding: 10px;
}
.side-Nav {
  height: 90vh;
}
