.Nav {
  /* height: 100vh; */
  /* width: 99vw; */
}
.navbar {
  margin: 0px;
  background-color: rgb(43, 183, 193);
}
.navbar-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.navbar-image {
  width: 60px;
  height: 60px;
}
.nav-profile {
  border: 1px solid black;
  border-radius: 90px;
}
.sidenav-header {
  padding: 10px;
}
.book-container {
  display: flex;
  flex-direction: row;
  height: 90vh;
  box-sizing: border-box;
}
.book-main-container {
  box-sizing: border-box;
}
.container-body {
  height: 85vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.book-button-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: flex-end;
  margin-right: 100px;
  margin-bottom: 10px;
}
.card-container {
  margin: 10px;
  width: 18rem;
}
